@model IEnumerable<GestionPaiement.Models.DataModel.BulletinDeSalaire>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="alert alert-primary">
        <h1><marquee>Application de gestion de paiement</marquee></h1>
    </div>
</div>

    <!-- Barre de recherche -->
    <form asp-action="Index" method="get" class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Rechercher par agent, mois..." aria-label="Search" name="searchQuery" value="@ViewData["SearchQuery"]" />
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Rechercher</button>
    </form>
    <p>

    </p>
    <p>
    <a class="btn btn-outline-primary" asp-action="Create"><i class="fas fa-plus"></i> Ajouter</a>
    </p>

<table class="table">
    <thead>
        <tr>
            <th>
                Agent
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Date)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaireBrut)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.SalaireNet)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Agent.Prenom @item.Agent.Nom
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Date)
                </td>
                <td>
                    @($"{item.SalaireBrut:N0} FCFA")
                </td>
                <td>
                    @($"{item.SalaireNet:N0} FCFA")
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdBulletin"><i class="fas fa-pencil-alt"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdBulletin"><i class="fas fa-search"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdBulletin"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
