@model GestionPaiement.Models.DataModel.Paiement

@{
    ViewData["Title"] = "Details";
}

<div class="container">
    <div class="alert alert-primary">
        <h1><marquee>Application de gestion de paiement</marquee></h1>
    </div>
</div>

<div>
    <h4>Paiement</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agent.IdAgent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MontantPaye)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MontantPaye)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DatePaiement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DatePaiement)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ModeDePaiement)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ModeDePaiement)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.IdPaiement">
        <i class="fas fa-edit"></i> Edit
    </a> |
    <a asp-action="Index" class="btn btn-link">
        <i class="fas fa-arrow-left"></i>
    </a>
</div>
