@model IEnumerable<GestionPaiement.Models.DataModel.Paiement>

@{
    ViewData["Title"] = "Index";
}

<div class="container">
    <div class="alert alert-primary">
        <h1><marquee>Application de gestion de paiement</marquee></h1>
    </div>
</div>

<!-- Formulaire de recherche -->
<form method="get" asp-action="Index">
    <div class="input-group mb-3">
        <input type="text" name="search" class="form-control" placeholder="Rechercher par Agent ou Mode de Paiement" value="@ViewData["SearchQuery"]" />
        <button class="btn btn-outline-success" type="submit">
            <i class="fas fa-search"></i> Rechercher
        </button>
    </div>
</form>

<p>
    <a class="btn btn-outline-primary" asp-action="Create"><i class="fas fa-plus"></i> Ajouter</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Agent)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.MontantPaye)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DatePaiement)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ModeDePaiement)
            </th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @item.Agent.Prenom @item.Agent.Nom
                </td>
                <td>
                    @String.Format("{0:N0} FCFA", item.MontantPaye)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DatePaiement)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ModeDePaiement)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.IdPaiement"><i class="fas fa-pencil-alt"></i></a> |
                    <a asp-action="Details" asp-route-id="@item.IdPaiement"><i class="fas fa-search"></i></a> |
                    <a asp-action="Delete" asp-route-id="@item.IdPaiement"><i class="fas fa-trash"></i></a>
                </td>
            </tr>
        }
    </tbody>
</table>
