@model GestionPaiement.Models.DataModel.Salaire

@{
    ViewData["Title"] = "Delete";
}

<div class="container">
    <div class="alert alert-primary">
        <h1><marquee>Application de gestion de paiement</marquee></h1>
    </div>
</div>
<div class="alert alert-danger">
    <h3><marquee>Are you sure you want to delete this?</marquee></h3>
</div>
<div>
    <h4>Salaire</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Agent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Agent.IdAgent)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaireBrut)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaireBrut)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.SalaireNet)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.SalaireNet)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateDePaie)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateDePaie)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="IdSalaire" />
        <button type="submit" class="btn btn-danger">
            <i class="fas fa-trash"></i> Delete
        </button> |
        <a asp-action="Index" class="btn btn-link">
            <i class="fas fa-arrow-left"></i>
        </a>
    </form>
</div>
